@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles/globals.css */

@keyframes rotateX {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.rotate-x {
  animation: rotateX 3s infinite linear; /* Adjust duration and timing as needed */
}

/* Keyframes for the wave effect */
@keyframes wave {
  0%,
  100% {
    transform: translateY(0); /* No movement */
  }
  50% {
    transform: translateY(10px); /* Return to the original position */
  }
  100% {
    transform: translateY(0px); /* Move down */
  }
}

/* Apply the wave effect to the text */
.wave-text {
  animation: wave 3s infinite ease-in-out; /* Infinite wave animation */
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.border-focus {
  outline: "none";
}

.thinScrollBar {
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 5px; /* Round corners */
  border: 2px solid #f0f0f0; /* Optional: adds spacing */
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb color on hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.hide-animate {
  animation: hide 0.5s forwards;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
    display: none;
  }
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
